---
import BaseLayout from "../../components/layouts/BaseLayout.astro";
import { Markdown } from "astro-remote";
import ArrowLeftIcon from "../../components/icons/ArrowLeftIcon.astro";
import ArrowUpIcon from "../../components/icons/ArrowUpIcon.astro";
import Heading from "../../components/blog/content/Heading.astro";
import CodeBlock from "../../components/blog/content/CodeBlock.astro";
import CodeSpan from "../../components/blog/content/CodeSpan.astro";
import Note from "../../components/blog/content/Note.astro";
import Paragraph from "../../components/blog/content/Paragraph.astro";
import Embed from "../../components/blog/content/Embed.astro";
import IFrame from "../../components/blog/content/IFrame.astro";
import Image from "../../components/blog/content/Image.astro";
import Video from "../../components/blog/content/Video.astro";
import type Post from "../../types/post";

let post: Post;
const OGimage = new URL("/api/og.png", import.meta.env.SITE);
try {
    post = await (
        await fetch(
            new URL(`/api/blog/${Astro.params.slug}.json`, import.meta.env.SITE)
        )
    ).json();

    // OG image URL
    OGimage.searchParams.append("icon", post.data.prefix);
    OGimage.searchParams.append("title", post.data.title);
    OGimage.searchParams.append("description", post.data.pubDate);
} catch (error) {
    return new Response(null, {
        status: 404,
    });
}
---

<BaseLayout
    SEO={{
        title: post.data.title,
        description: post.data.description,
        canonicalURL: new URL(
            `/blog/${post.slug}`,
            import.meta.env.SITE
        ).toString(),
    }}
    OG={{
        title: post.data.title,
        description: post.data.description,
        type: "article",
        url: new URL(`/blog/${post.slug}`, import.meta.env.SITE).toString(),
        image: OGimage.toString(),
        article: {
            published_time: post.data.pubDate,
            author: "suiramdev",
        },
    }}
>
    <header
        class="nest flex flex-col items-center gap-2 mb-8 text-center"
        id="top"
    >
        <span class="text-8xl">{post.data.prefix}</span>
        <h1>{post.data.title}</h1>
        <span class="text-zinc-500">{post.data.pubDate}</span>
    </header>
    <main class="nest mb-8">
        <Markdown
            content={post.content}
            components={{
                Heading,
                CodeBlock,
                CodeSpan,
                Note,
                blockquote: Note,
                p: Paragraph,
                embed: Embed,
                iframe: IFrame,
                img: Image,
                video: Video,
            }}
        />
        <section class="flex justify-between items-center my-4">
            <a href="/" class="btn btn-action">
                <ArrowLeftIcon size={12} /> Back
            </a>
            <a href="#top" class="btn btn-action">
                <ArrowUpIcon size={12} /> Top
            </a>
        </section>
    </main>
</BaseLayout>
