---
import "../../styles/base.css";
import Navbar from "../Navbar.astro";

interface Article {
    published_time?: string;
    author?: string;
}

interface SEO {
    title?: string;
    description?: string;
    canonicalURL?: URL;
    image?: URL;
    article?: Article;
}

interface Props {
    SEO?: SEO;
}

const { SEO } = Astro.props;

// Default OG image URL
let image = SEO?.image;
if (!image) {
    image = new URL("/api/og.png", import.meta.env.SITE);
    image.searchParams.append("title", "suiramdev's blog");
    image.searchParams.append("description", "suiramdev's blog");
}
const title = SEO?.title ?? "suiramdev's blog";
const description =
    SEO?.description ??
    "Here, I share my thoughts, reviews, projects, and glimpses of my life.";
const canonicalURL = SEO?.canonicalURL ?? import.meta.env.SITE;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
        <meta name="description" content={description} />
        <link rel="canonical" href={canonicalURL} />
        <meta property="og:title" content={title} />
        <meta property="og:description" content={description} />
        <meta
            property="og:type"
            content={SEO?.article ? "article" : "website"}
        />
        <meta property="og:url" content={canonicalURL} />
        <meta
            property="article:published_time"
            content={SEO?.article?.published_time}
        />
        <meta property="article:author" content={SEO?.article?.author} />
        <meta property="og:image" content={image} />

        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:site" content="@suiramdev" />
        <meta name="twitter:title" content={title} />
        <meta name="twitter:description" content={description} />
        <meta name="twitter:image" content={image} />
    </head>

    <body class="pt-8">
        <Navbar />
        <slot />
    </body>
</html>
