---
import type Post from "../../types/post";

interface Props {
    post: Post;
}

const { post } = Astro.props;
let title = post.data.title || "New blog";
if (post.data.prefix) title = `${post.data.prefix} ${title}`;
---

<a
    href={`/blog/${post.slug}`}
    class="flex flex-col gap-2 p-2.5 border border-gray-700 rounded-lg hover:bg-gray-900 transition-colors"
>
    <span class="font-semibold">{title}</span>
    <span class="text-gray-400 text-sm">{post.data.pubDate}</span>
</a>
